:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #efefef;
  --second-brand-color: #8152E1;
  --third-brand-color: #379DFF;



  --main-font:  'Poppins';
  --title-font:  'Poppins Bold';

  font-size: 62.5%;
}
